<app-user-navbar></app-user-navbar>
<div class="container">
    <div class="card">
    <h3>Add your Skills</h3>
    <div class="row">
        <form [formGroup]="skillForm" (submit)="onSubmit()" class="col s12">
            <div class="row">
                <div class="input-field">
                    <input type="text" formControlName="qualification" >
                    <div class="invalid-feedback" *ngIf="submitted && myForm.qualification.errors?.required">
                        *qualification is required.
                    </div> 
                    <label for="qualification">Qualification</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field">
                    <input type="text" formControlName="skillset" >
                    <div class="invalid-feedback" *ngIf="submitted && myForm.skillset.errors?.required">
                        *Skill set is required.
                    </div> 
                    <label for="skillset">Skill set</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input type="text" formControlName="expirence" >
                    <div class="invalid-feedback" *ngIf="submitted && myForm.expirence.errors?.required">
                        *Enter required expirence.
                    </div> 
                    <label for="expirence">Expirence</label>
                </div>
            </div>
            <div class="invalid-feedback">{{found}} </div>
    
            <div class="row">
                <input type="submit" value="Save" class="btn blue">
                <input type="reset" value="Cancel" class="btn orange">
            </div>
        </form>
    </div>
    </div>
    </div>
    
