<app-user-navbar></app-user-navbar>
<div class="container" id="container">

    <div class="form-container sign-in-container">
        <form [formGroup]="loginForm" (submit)="onLoginSubmit()">
            <h1>Sign in</h1>
            <br>
            <input type="email" placeholder="Username" formControlName="username"/>
            <div class="invalid-feedback" *ngIf="submitted && myForm.username.errors?.required">
                *Usernamae is required.
            </div>
            <input type="password" placeholder="Password" formControlName="password"/>
            <div class="invalid-feedback">{{invalid}}</div>
            <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.required">
                *Password is required.
            </div>
                
            <!-- <a href="#">Forgot your password?</a> -->
            <button>Sign In</button>
            <br>
            <!-- <div>
                <span>or use your account</span>
            </div>
            
            <div class="section">
                <a href="/auth/google" class="btn color1">
                    <i class="fab fa-google-plus-g left"></i>Log In With Google
                </a>
            </div> -->
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signIn" [routerLink]="['/hr/register']">Sign up with Recruiter </button>
                <button class="ghost" id="signIn" [routerLink]="['/users/register']">Sign up with Job Seeker </button>
                <!-- <button class="ghost" id="signUp" [routerLink]="['/users/register']">Sign Up</button> -->
            </div>
        </div>
    </div>
</div>
